<!--section-1-->
<div id="section-1" class="hp-background">
    <!--<div class="hp-background"></div>-->
    <div class="hp-textblock animated fadeInUp">
        <h1 id="hp-greeting">{{greeting}}</h1>
        <h1 id="hp-intro">I'M KEVIN.Z</h1>
        <p id="hp-jobtitle">Web Developer</p>
    </div>

    <a id="btn-github" class="btn btn-primary btn my-2 my-sm-0" target="_blank" href="https://github.com/kevinzhang2012/KEV2000-UI" data-toggle="tooltip" title="Some tooltip text!">
        <script>
            $('#btn-github').tooltip(options)
        </script>
        <i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
    <a pageScroll href="#section-2" id="hp-arrowdown">
        <i class="fa fa-chevron-circle-down fa-3x animated bounce infinite" id="hp-downarrow" aria-hidden="true"></i>
    </a>
</div>

<!--section-2-->
<div id="section-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col" id="section-2-1">
                <div class="container" id="section-2-container">
                    <h3 class="centered" id="hp-project">MY PROJECTS</h3>

                    <div id="hp-carsousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#hp-carsousel" data-slide-to="0" class="active"></li>
                            <li data-target="#hp-carsousel" data-slide-to="1"></li>
                            <li data-target="#hp-carsousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active embed-responsive embed-responsive-16by9">
                                <img class="img-thumbnail d-block img-fluid embed-responsive-item" src="../../assets/homepage_carsousel/1.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-thumbnail d-block img-fluid embed-responsive-item" src="../../assets/homepage_carsousel/2.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item embed-responsive embed-responsive-16by9">
                                <img class="img-thumbnail d-block img-fluid embed-responsive-item" src="../../assets/homepage_carsousel/3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#hp-carsousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#hp-carsousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--section-3-->
<div id="section-3">
</div>

<div class="footerWrapper">

    <div class="footer-content">
        Email: <a href="mailto:kevinzhang2012@live.cn">kevinzhang2012@live.cn</a> <br> Phone: +642102890195 <br>
        <div class="footer-social-icon">
            <i class="fa fa-linkedin-square fa-3x footer-icon-1" aria-hidden="true"></i>

            <a class="color-white" href="https://github.com/kevinzhang2012" target="_blank"><i class="fa fa-github-square fa-3x footer-icon-2" aria-hidden="true"></i></a>
        </div>
        <p class="footer-copyright"> &copy;2017 Yuxiang Zhang</p>
    </div>

</div>