<span [hidden]="hideHomepage">
<!--section-1-->
<div id="section-1" class="hp-background shadow-black animated fadeIn">
    <div class="padding-top-200px">
        <div [hidden]="hideSection1" class="hp-textblock animated fadeInUp">
            <h1 id="hp-greeting">{{greeting}}</h1>
            <h1 id="hp-intro">I'M KEVIN.Z</h1>
            <p id="hp-jobtitle">Web Developer</p>
        </div>
    </div>
<div id="btn-github">
    <a [hidden]="hideSection1" class="btn btn-primary btn my-2 my-sm-0 animated fadeInUp" target="_blank" href="https://github.com/kevinzhang2012/KEV2000-UI" data-toggle="tooltip" title="Some tooltip text!">
        <script>
            $('#btn-github').tooltip(options)
        </script>
        <i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
</div>
    <a pageScroll href="#section-2" id="hp-arrowdown">
        <i class="fa fa-chevron-circle-down fa-3x animated bounce infinite" id="hp-downarrow" aria-hidden="true"></i>
    </a>
</div>

<!--section-2-->
<div class="projects padding-80px" id="section-2">
    <div class="container">
        <h1 class="display-4 center-block color-white">Projects</h1>
        <hr>
        <div id="hp-carsousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#hp-carsousel" data-slide-to="0" class="active"></li>
                <li data-target="#hp-carsousel" data-slide-to="1"></li>
                <li data-target="#hp-carsousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active embed-responsive embed-responsive-16by9">
                    <img class="d-block img-fluid embed-responsive-item" src="../../assets/homepage_carsousel/1.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>KEVINNZ</h3>
                        <p>A personal website used to promote myself. Built with Angular 2 + BootStrap 4 + .NET Web API</p>
                    </div>
                </div>
                <div class="carousel-item embed-responsive embed-responsive-16by9">
                    <img class=" d-block img-fluid embed-responsive-item" src="../../assets/homepage_carsousel/2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Workbook Online</h3>
                        <p>Workbook Online was a web application aimed to provide online collaborative diagramming and presentation features. The project itself has adopted Angular 2 + Ruby On Rails stacks.</p>
                    </div>
                </div>
                <div class="carousel-item embed-responsive embed-responsive-16by9">
                    <img class=" d-block img-fluid embed-responsive-item" src="../../assets/homepage_carsousel/3.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>MEET.U</h3>
                        <p>A practice of building web social network with my developer friends. Mainly implemented with AngularJS and ASP.NET in a responsive design. Took part in front-end development includes designing and functioning for the index page.
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#hp-carsousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#hp-carsousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>
</div>
</div>

<!--section-3-->
<div id="section-3" class="padding-80px shadow-black">
    <div class="container">
        <h1 class="display-4 center-block color-cadetblue">About Me</h1>
        <hr>
        <div class="row padding-top-40px">
            <div class="col-md-5 col-lg-5">
                <div [ngsReveal]="{ reset: true}" class="LI-profile-badge center-block" data-version="v1" data-size="large" data-locale="zh_CN" data-type="vertical" data-theme="light" data-vanity="kevinzhang1994"><a class="LI-simple-link" href='https://nz.linkedin.com/in/kevinzhang1994?trk=profile-badge'>Yuxiang Zhang</a></div>
            </div>
            <div class="col-md-7 col-lg-7">
                <p class="lead padding-20px">Hiya! My name is Kevin Zhang. I am pursuing my Computer Science degree at Auckland University of Technology. <br>I love both coding and designing, and am skilled in Web Development/ASP.NET Application/Database and etc. <br><br>
                    <a class="btn btn-outline-danger" target="_blank" href="https://drive.google.com/open?id=0B4plXY9Tu-H6X1R6SEc0OEU3dU0"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Resume</a>
                </p>

            </div>
        </div>
    </div>
</div>

<div id="section-4" class="padding-80px shadow-black">
    <div class="container">
        <h1 class="display-4 center-block color-white">
            Experience
        </h1>
        <hr>

        <div class="experience-item" [ngsReveal]="{ reset: true}">
            <blockquote class="blockquote">
                <div class="row">
                    <div class="col-12">
                        <p class="lead">Nov, 2016 – Feb, 2017</p>
                    </div>
                    <div class="col">
                        <strong>Web Developer (Internship)</strong>
                    </div>
                    <div class="col">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Xorro Solutions Ltd. Auckland
                    </div>
                    <div class="col-12">
                        <footer class="blockquote-footer color-grey">During my study break, I joined Xorro team and worked as a full-time web developer. The project "Workbook Online" was a web application aimed to provide online collaborative diagraming and presentation features. The project itself
                            has adopted Angular 2 + Ruby On Rails stacks.</footer>
                    </div>
                </div>
            </blockquote>
        </div>

        <div class="experience-item" [ngsReveal]="{ reset: true}">
            <blockquote class="blockquote">
                <div class="row">
                    <div class="col-12">
                        <p class="lead">Feb, 2017</p>
                    </div>
                    <div class="col">
                        <strong>Personal Website</strong>
                    </div>
                    <div class="col-12">
                        <footer class="blockquote-footer color-grey">This is a responsive designed personal website which is used to promote myself. The site is built with Angular 2 + Bootstrap 4 + .NET Web API and planned to be deployed at AWS EC2. Temporary deploy: https://kevinzhang2012.github.io/kevinnz</footer>
                    </div>
                </div>
            </blockquote>
        </div>

        <div class="experience-item" [ngsReveal]="{ reset: true}">
            <blockquote class="blockquote">
                <div class="row">
                    <div class="col-12">
                        <p class="lead">May, 2016</p>
                    </div>
                    <div class="col">
                        <strong>Practice project “MeetU”</strong>
                    </div>
                    <div class="col-12">
                        <footer class="blockquote-footer color-grey">A practice of building web social network with my developer friends. Mainly implemented with AngularJS and ASP.NET in a responsive design. Took part in front-end development including designing and functioning for index page.</footer>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>

</div>

<div id="section-5" class="padding-80px shadow-black">
    <div class="container">
        <h1 class="display-4 center-block color-cadetblue">
            Education
        </h1>
        <hr>
        <p class="lead padding-20px"> Education...</p>

    </div>

</div>





<!--footer-->
<div class="footer_transparent"></div>
<div class="footerWrapper" [hidden]="hideSection1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9 contact">
                    <a href="mailto:kevinzhang2012@live.cn" class="color-white"><i class="fa fa-envelope" aria-hidden="true"></i> kevinzhang2012@live.cn</a> <br> <i class="fa fa-phone" aria-hidden="true"></i> +642102890195 <br>

                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="footer-social-icon">
                        <a class="color-white" href="https://www.linkedin.com/in/kevinzhang1994/" target="_blank"><i class="fa fa-linkedin-square fa-3x footer-icon-1" aria-hidden="true"></i></a>

                        <a class="color-white" href="https://github.com/kevinzhang2012" target="_blank"><i class="fa fa-github-square fa-3x footer-icon-2" aria-hidden="true"></i></a>
                    </div>
                    <p class="footer-copyright"> &copy;2017 Yuxiang Zhang</p>
                </div>

            </div>

        </div>
    </div>
</div>
</span>