<!--Navbar-->
<nav class="navbar navbar-toggleable-sm navbar-light bg-faded fixed-top" [ngClass]="navbarAnimate">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="https://kevinzhang2012.github.io/kevinnz/home"><img src="assets/logo.png" height=40px></a>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="nav nav-tabs navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a pageScroll class="nav-link" href="#section-1"><i class="fa fa-home" aria-hidden="true"></i> HOME</a>
                </li>
                <li class="nav-item">
                    <a pageScroll class="nav-link" href="#section-2"><i class="fa fa-code" aria-hidden="true"></i> PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a pageScroll class="nav-link" href="#section-3"><i class="fa fa-info-circle" aria-hidden="true"></i> ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" routerLink="/" routerLinkActive="active"><i class="fa fa-camera-retro" aria-hidden="true"></i> GALLERY</a>
                </li>
            </ul>

            <a class="color-cadetblue" href="https://github.com/kevinzhang2012" target="_blank">
                <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
</span>
            </a>
            <a class="color-cadetblue" href="https://www.linkedin.com/in/kevinzhang1994/" target="_blank">
                <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
</span>
            </a>


        </div>
    </div>
</nav>




<router-outlet></router-outlet>