<nav class="navbar navbar-toggleable-sm navbar-light bg-faded fixed-top" [ngClass]="navbarAnimate">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <a class="navbar-brand" href="/">KEVINNZ</a>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/documents" routerLinkActive="active"><i class="fa fa-file" aria-hidden="true"></i> Docs</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active"> 
         <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <i class="fa fa-file-text" aria-hidden="true"></i> Proposal
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/proposals/new" routerLinkActive="active"><i class="fa fa-plus-circle" aria-hidden="true"></i> New Proposal</a>
            <a class="dropdown-item" routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><i class="fa fa-eye" aria-hidden="true"></i> Show Proposal</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
        </li>
    </ul>
    <a class="btn btn-outline-primary btn my-2 my-sm-0" target="_blank" href="https://github.com/kevinzhang2012/KEV2000-UI">  <i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup-modal">
  Sign Up
</button>

  </div>
   </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input #signupEmail type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">

            <label for="exampleInputPassword1">Password</label>
            <input #signupPassword type="password" class="form-control"  placeholder="Password">

            <label for="exampleInputPassword1">Confirm Password</label>
            <input #signupConfirmPassword type="password" class="form-control"  placeholder="Password">
          </div>
        </form>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="signup-submit" (click)="signUp(signupEmail.value,signupPassword.value,signupConfirmPassword.value)">Sign Up</button>
      </div>
    </div>
  </div>
</div>




<router-outlet></router-outlet>
