/* You can add global styles to this file, and also import other style files */

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #252830;
}


/*Common used*/

a:hover,
button:hover {
    cursor: pointer;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.center-block {
    display: block;
    text-align: center;
}

.hp-textblock h1,
.hp-textblock h2 {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 900;
}

.color-white {
    color: white;
}

.color-cadetblue {
    color: cadetblue;
}


/*navbar*/

.navbar-collapse .btn-outline-primary {
    margin-right: 3px;
}

.padding-80px {
    padding-top: 90px;
    padding-bottom: 80px;
}

.padding-top-40px {
    padding-top: 40px;
}

.padding-20px {
    padding: 20px;
}

.navbar {
    box-shadow: 0px 1px 10px #3a3a3a;
}

.navbar-toggler {
    z-index: 9999;
}

.hp-background {
    /*width: 100%;
    height: 100%;
    z-index: -5;*/
    background-image: url("/assets/landscape.jpg");
    /*background-image:url("/kevinnz/assets/wallpaper_3.jpg");*/
    background-size: cover;
    /*position: absolute;*/
    background-repeat: no-repeat;
}

#hp-welcome {
    position: absolute;
    top: 45px;
}

#hp-downarrow {
    color: white;
    bottom: 30px;
}

#hp-arrowdown {
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#btn-github {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%);
}

#section-1 {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%
}

#section-2 {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #b2b2b2;
}

#section-3 {
    position: absolute;
    top: 200%;
    width: 100%;
    /*height: 100%;*/
    background-color: white;
    margin-bottom: 200px;
}

#section-2-container {
    height: 100%;
}

#hp-carsousel {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 550px;
}

.hp-textblock {
    margin-top: 150px;
    background-color: rgba(124, 124, 124, 0.5);
    text-align: center;
}

#hp-greeting {
    color: white;
    padding-top: 20px;
}

#hp-intro {
    min-width: 223px;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    display: inline-block;
}

#hp-jobtitle {
    color: white;
    padding-bottom: 15px;
}


/*section2*/

#hp-project {
    top: 30px;
    color: white;
    border: 5px solid white;
    border-radius: 15px;
    padding: 5px;
}

#section-2-1 {
    height: 500px;
    background-color: cadetblue;
}

#section-2-2 {
    height: 500px;
    background-color: azure;
}

.footerWrapper {
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0px;
    background-color: cadetblue;
    z-index: -999;
}

.footer-content {
    text-align: center;
    color: white;
    padding: 1px;
    bottom: 0px;
}

.footer-content .footer-copyright {
    font-size: 1px;
}

.footer-icon-1 {
    padding-right: 10px;
    border-right: 1px solid white;
}

.footer-icon-2 {
    padding-left: 6px;
}


/*=======================*/