/* You can add global styles to this file, and also import other style files */
html, body {margin:0;padding:0;height:100%;}
body{
    background-color: #252830;
}

/*.padding-top {
    padding-top: 80px;
}*/

.navbar {
    box-shadow: 0px 1px 10px #3a3a3a;
}

.navbar-toggler {
    z-index: 9999;
}

.hp-background {
    width: 100%;
    height: 100%;
    z-index: -999;
    background-image:url("/assets/landscape.jpg");
    /*background-image:url("/kevinnz/assets/wallpaper_3.jpg");*/
    background-size:cover;
    position: absolute;
    background-repeat: no-repeat;
}
.hp-textblock {
    position: absolute;
    width: 100%;
    height:30%;
    top:20%;
    background-color: rgba(124,124,124,0.5);
}

#hp-welcome {
    position: absolute;
    top: 45px;
}

#hp-intro {
    position: absolute;
    bottom: 45px;
}

#hp-intro hr {
    border-color: #d6d6d6;
}
#hp-downarrow {
    color: white;
    bottom:30px;
}

.hp-h1 {
    font-size: 80px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
#hp-jobtitle {
    color: white;
}

#hp-arrowdown{
    bottom:30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
#section-1 {
    width:100%;
    height:100%
}
#section-2 {
    background-color: #252830;
    width:100%;
    height:100%
}






/*=======================*/
/*Common used*/
.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


















.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
    z-index: -1;
  transform: translateZ(-1px)scale(2);
}




#section-2-container{
    height:100%;
}



.carousel{
    height: 100%;
}
.carousel-inner{

    height:100%;
}
.carousel-item {
    top:20%;
    transform: translateY(-50%);
    transform: translateZ(-1px)scale(1.5);
}
.carousel-indicators {
    bottom:40px;
}



