/* You can add global styles to this file, and also import other style files */
html, body {margin:0;padding:0;height:100%;}
body{
    background-color: #252830;
}

.padding-top {
    padding-top: 80px;
}

.navbar {
    box-shadow: 0px 1px 10px #3a3a3a;
}

.navbar-toggler {
    z-index: 9999;
}

#homepage-container {
    background-image:url("/assets/wallpaper_3.jpg");
    /*background-image:url("/kevinnz/assets/wallpaper_3.jpg");*/
    background-size:300%;
    height:100%;
}

.hp-block-1 {
    width: 100%;
    height: 100%;
    background-color: #42a1f4
}

#hp-welcome {
    position: absolute;
    top: 20%;
}

#hp-intro {
    position: absolute;
    top: 30%;
}

#hp-intro hr {
    border-color: #d6d6d6;
}

.hp-h1 {
    font-size: 8vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

#hp-scrolldown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: white;
    padding:3px;
}







/*=======================*/
/*Common used*/
.centered {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}


































/*previous

.hp-block-left, .hp-block-right {
    position: absolute;
    top: 0px;
    width: 50%;
    height: 100%;
    background-color: rgba(226, 226, 226,0.3);
}

.hp-block-left{
    left:0%;
    background-color: #42a1f4;
}


.hp-block-left h1 {
    border: 3px solid white;
    position: absolute;
    color: white;
    top: 26%;
    display: inline-block;
    right: 0px;
    padding: 10px;
    padding-right: 3px;
    border-right-style: none;
    border-bottom-left-radius: 30px;
    z-index: 1;
    font-size:8vw;
}

.hp-block-right {
    left:50%;
    background-color: white;
}

.hp-block-right h1 {
    border: 3px solid #42a1f4;
    position: absolute;
    color: #42a1f4;
    top: 26%;
    display: inline-block;
    left: 0;
    padding: 10px;
    padding-left: 3px;
    border-left-style: none;
    border-top-right-radius: 30px;
    font-size:8vw;
}*/